
.tabla{
    background-color: white;
    color: rgb(39, 29, 29);
    border: 1px solid rgb(173, 69, 69);
    width: 100%;
    align-content: center;
    text-align: center;
    margin-top: 5%; 
    padding-right: 4%;
    font-size:medium;
}